name: Test EXE

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run-exe:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set UTF-8 code page
        run: chcp 65001

      - name: Run EXE
        run: dist\NumeroRadicacion\NumeroRadicacion.exe

      - name: Upload logs
        uses: actions/upload-artifact@v4
        with:
          name: execution-logs
          path: dist\NumeroRadicacion\logs\

      - name: Upload Excel file
        uses: actions/upload-artifact@v4
        with:
          name: execution-excel
          path: dist\NumeroRadicacion\NumeroRadicacion.xlsx
