name: Test EXE (Short / Medium / Long)

on:
  workflow_dispatch:
    inputs:
      test_length:
        description: "Select test length"
        required: true
        default: "short"
        type: choice
        options:
          - short
          - medium
          - long

jobs:
  run-test:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Select correct test file
        shell: powershell
        run: |
          switch ("${{ github.event.inputs.test_length }}") {
            "short"  { $file = "NumeroRadicacion_3.xlsx" }
            "medium" { $file = "NumeroRadicacion_10.xlsx" }
            "long"   { $file = "NumeroRadicacion_50.xlsx" }
          }

          Write-Host "Using test file: $file"
          Copy-Item "tests\$file" "dist\NumeroRadicacion\NumeroRadicacion.xlsx" -Force

      - name: Clear old logs
        shell: powershell
        run: |
            $logPath = "dist\NumeroRadicacion\logs"
            if (Test-Path $logPath) {
            Remove-Item $logPath -Recurse -Force
            }

      - name: Run EXE
        run: dist\NumeroRadicacion\NumeroRadicacion.exe

      - name: Upload logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: logs-${{ github.event.inputs.test_length }}
          path: dist\NumeroRadicacion\logs\

      - name: Upload Excel
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: excel-${{ github.event.inputs.test_length }}
          path: dist\NumeroRadicacion\NumeroRadicacion.xlsx
